<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MinimumOSVersion</key>
	<string>18.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>daumcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>kakao.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>kakaocdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>kakao.co.kr</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoadsForMedia</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>DTXcodeBuild</key>
	<string>17C52</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>문의하기에 사용할 비디오 촬영을 위해 권한이 필요합니다.</string>
	<key>UISupportedDevices</key>
	<array>
		<string>MacFamily20,1</string>
		<string>RealityFamily22,1</string>
		<string>iPad11,1</string>
		<string>iPad11,2</string>
		<string>iPad11,3</string>
		<string>iPad11,4</string>
		<string>iPad11,6</string>
		<string>iPad11,7</string>
		<string>iPad12,1</string>
		<string>iPad12,2</string>
		<string>iPad13,1</string>
		<string>iPad13,10</string>
		<string>iPad13,11</string>
		<string>iPad13,16</string>
		<string>iPad13,17</string>
		<string>iPad13,18</string>
		<string>iPad13,19</string>
		<string>iPad13,2</string>
		<string>iPad13,4</string>
		<string>iPad13,5</string>
		<string>iPad13,6</string>
		<string>iPad13,7</string>
		<string>iPad13,8</string>
		<string>iPad13,9</string>
		<string>iPad14,1</string>
		<string>iPad14,10</string>
		<string>iPad14,11</string>
		<string>iPad14,2</string>
		<string>iPad14,3-A</string>
		<string>iPad14,3-B</string>
		<string>iPad14,4-A</string>
		<string>iPad14,4-B</string>
		<string>iPad14,5-A</string>
		<string>iPad14,5-B</string>
		<string>iPad14,6-A</string>
		<string>iPad14,6-B</string>
		<string>iPad14,8</string>
		<string>iPad14,9</string>
		<string>iPad15,3</string>
		<string>iPad15,4</string>
		<string>iPad15,5</string>
		<string>iPad15,6</string>
		<string>iPad15,7</string>
		<string>iPad15,8</string>
		<string>iPad16,1</string>
		<string>iPad16,10</string>
		<string>iPad16,11</string>
		<string>iPad16,2</string>
		<string>iPad16,3-A</string>
		<string>iPad16,3-B</string>
		<string>iPad16,4-A</string>
		<string>iPad16,4-B</string>
		<string>iPad16,5-A</string>
		<string>iPad16,5-B</string>
		<string>iPad16,6-A</string>
		<string>iPad16,6-B</string>
		<string>iPad16,8</string>
		<string>iPad16,9</string>
		<string>iPad17,1-A</string>
		<string>iPad17,1-B</string>
		<string>iPad17,2-A</string>
		<string>iPad17,2-B</string>
		<string>iPad17,3-A</string>
		<string>iPad17,3-B</string>
		<string>iPad17,4-A</string>
		<string>iPad17,4-B</string>
		<string>iPad7,11</string>
		<string>iPad7,12</string>
		<string>iPad8,1</string>
		<string>iPad8,10</string>
		<string>iPad8,11</string>
		<string>iPad8,12</string>
		<string>iPad8,2</string>
		<string>iPad8,3</string>
		<string>iPad8,4</string>
		<string>iPad8,5</string>
		<string>iPad8,6</string>
		<string>iPad8,7</string>
		<string>iPad8,8</string>
		<string>iPad8,9</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>17F41</string>
	<key>CFBundleName</key>
	<string>KaKaoPage</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>th</string>
	</array>
	<key>FacebookAppID</key>
	<string>1541359099492318</string>
	<key>CFBundleDisplayName</key>
	<string>KaKaoPage</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>23C53</string>
	<key>NSPrivacyTrackingDomains</key>
	<array>
		<string>att-attr.appsflyer-cn.com</string>
		<string>att-attr.appsflyersdk.com</string>
		<string>att-attr.hevents.appsflyer-cn.com</string>
		<string>att-attr.whappsflyer.com</string>
		<string>att-conversions.appsflyer-cn.com</string>
		<string>att-conversions.appsflyersdk.com</string>
		<string>att-conversions.hevents.appsflyer-cn.com</string>
		<string>att-conversions.whappsflyer.com</string>
		<string>att-dlsdk.appsflyer-cn.com</string>
		<string>att-dlsdk.appsflyersdk.com</string>
		<string>att-dlsdk.hevents.appsflyer-cn.com</string>
		<string>att-dlsdk.whappsflyer.com</string>
		<string>att-launches.appsflyer-cn.com</string>
		<string>att-launches.appsflyersdk.com</string>
		<string>att-launches.hevents.appsflyer-cn.com</string>
		<string>att-launches.whappsflyer.com</string>
		<string>ep1.facebook.com</string>
	</array>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTXcode</key>
	<string>2620</string>
	<key>DTSDKName</key>
	<string>iphoneos26.2</string>
	<key>CFBundleVersion</key>
	<string>1483</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIDesignRequiresCompatibility</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaopage</string>
				<string>kakao88587264427672385</string>
				<string>kakao88985334326585536</string>
				<string>kakao0a7f850343ab4b0261674dded5d55cf7</string>
				<string>kakaoa26556f667b805447c20a33a97ae617a</string>
				<string>fb1097063798042029</string>
				<string>fb1541359099492318</string>
				<string>line3rdp.com.kakao.page</string>
				<string>com.googleusercontent.apps.512685139021-e2jbuf468j0s2cgu3hiki4f22vvmc738</string>
				<string>com.googleusercontent.apps.512685139021-h821mekbjafpr1ph4qlgr4hv5k6bodkt</string>
				<string>com.googleusercontent.apps.512685139021-95kogpfalc8r82kb1o53fjr215el29o3</string>
				<string>com.googleusercontent.apps.634073662084-mp1f96m89latocctra50cpkvd5q3l21l</string>
				<string>com.googleusercontent.apps.634073662084-homkil8t91ll0n9u4ren6ctg97p77dql</string>
				<string>com.googleusercontent.apps.512685139021-bj0k3ggo3foc24vbm9sec0frav45k6hc</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>맞춤형 광고 제공을 위해 기기의 광고식별자를 수집합니다.</string>
	<key>CFBundleIdentifier</key>
	<string>com.kakao.page</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>FacebookDisplayName</key>
	<string>카카오페이지</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>프로필 이미지 설정, 캡쳐/발췌 이미지 설정을 위해 권한이 필요합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>프로필 이미지 저장, 캡쳐/발췌 이미지 저장을 위해 권한이 필요합니다.</string>
	<key>CFBundleExecutable</key>
	<string>KaKaoPage</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>25E253</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaopage</string>
		<string>kakao0a7f850343ab4b0261674dded5d55cf7</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk</string>
		<string>kakaotalk-4.5.0</string>
		<string>kakaotalk-5.9.7</string>
		<string>kakaostory-2.9.0</string>
		<string>kakaoa26556f667b805447c20a33a97ae617a</string>
		<string>alphakompassauth</string>
		<string>alphastorykompassauth</string>
		<string>alphalink</string>
		<string>alphatalk</string>
		<string>alphatalk-4.5.0</string>
		<string>alphatalk-5.9.7</string>
		<string>alphastory-2.9.0</string>
		<string>alphaplus</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakaotvlive</string>
		<string>kakaoplus</string>
		<string>storylink</string>
		<string>kakaowebtoon</string>
		<string>melonapp</string>
		<string>http</string>
		<string>https</string>
		<string>lineauth2</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>GIDClientID</key>
	<string>512685139021-e2jbuf468j0s2cgu3hiki4f22vvmc738.apps.googleusercontent.com</string>
	<key>KAKAOTV_SERVICE</key>
	<string>kakao_page</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>SeriesSelectionIntent</string>
	</array>
	<key>NSAdvertisingAttributionReportEndpoint</key>
	<string>https://appsflyer-skadnetwork.com/</string>
	<key>NSCameraUsageDescription</key>
	<string>프로필 이미지, 문의하기에 사용할 사진 촬영을 위해 권한이 필요합니다.</string>
	<key>SERVER_TYPE</key>
	<string>production</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneDelegateClassName</key>
					<string>KaKaoPage.SceneDelegate</string>
					<key>UISceneConfigurationName</key>
					<string>Default</string>
				</dict>
			</array>
		</dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>FacebookClientToken</key>
	<string>0552d8900e8b964598fcf4e5d6337778</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>23C53</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>DTPlatformVersion</key>
	<string>26.2</string>
	<key>CFBundleShortVersionString</key>
	<string>7.30.0</string>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
</dict>
</plist>